.searched-talent {
    display: none;
    height: calc(100vh - 30px);
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    position: absolute;
}

.searched-talent.show {
    display: block;
}

.cancel-search-talent {
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 4px 20px 4px 20px !important;
    color: grey !important;
    vertical-align: top;
    margin-top: -3px;
}

.searched-talent .ant-input-affix-wrapper {
    background-color: #f7f7f7;
    padding-right: 32px;
}

.searched-talent .ant-input-affix-wrapper input {
    background-color: transparent;
}

.reset-search {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 1;
    background: transparent !important;
    border: none !important;
    color: grey !important;
}

.searched-talent-result .ant-list-item-meta-title {
    margin-bottom: 0 !important;
    margin-top: 5px !important;
    line-height: 1 !important;
}

.searched-talent-result .ant-list-item-meta-description {
    line-height: 1 !important;
}

.searched-talent-list-container {
    height: calc(100vh - 63px);
}

.err-msg {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}

.talent-list {
    height: 0px;
    transition: height .6s;
    overflow-y: scroll;
}

.talent-list::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.talent-list.show {
    height: calc(100vh - 80px);
}

.talent-list .ant-avatar {
    margin-top: 5px;
    height: 45px;
    width: 45px;
    border-radius: 5px;
}